<app-navbar></app-navbar>
<section>
  <div class="banner-innerpage" style="
          background-image: url(https://th.bing.com/th/id/OIP.MobvToS1W_iCF7MwM3R16gHaCI?pid=ImgDet&rs=1);
        ">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
          <h1 class="title">Shop listingings</h1>
          <h6 class="subtitle op-8">
            Creative People Working Together For Best Product
          </h6>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>